body {
    background-color: white;
}

.Grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
    gap: 5px;
    height: 100vh;
}

@keyframes rainbow-background {
    0%         {background-color: #ff0000;}
    8.33%      {background-color: #ff8000;}
    16.667%    {background-color: #ffff00;}
    25%        {background-color: #80ff00;}
    33.33%     {background-color: #00ff00;}
    41.667%    {background-color: #00ff80;}
    50%        {background-color: #00ffff;}
    58.33%     {background-color: #0080ff;}
    66.67%     {background-color: #0000ff;}
    75%        {background-color: #8000ff;}
    83.33%     {background-color: #ff00ff;}
    91.667%    {background-color: #ff0080;}
    100%       {background-color: #ff0000;}
}

.rainbow-background {
    animation: rainbow-background 10s infinite;
}

@keyframes black {
    0%         {color: #ff0000;}
    8.33%      {color: #ff8000;}
    16.667%    {color: #ffff00;}
    25%        {color: #80ff00;}
    33.33%     {color: #00ff00;}
    41.667%    {color: #00ff80;}
    50%        {color: #00ffff;}
    58.33%     {color: #0080ff;}
    66.67%     {color: #0000ff;}
    75%        {color: #8000ff;}
    83.33%     {color: #ff00ff;}
    91.667%    {color: #ff0080;}
    100%       {color: #ff0000;}
}

.black {
    animation: black 5s infinite;
}
.red {
    background-color: red;
    grid-area: 1/1/1/3;
}

.blue {
    background-color: blue;
    grid-area:1/3/1/5;
}

.green {
    background-color: green;
    grid-area: 1/5/1/7;
}

.gold {
    background-color: gold;
    grid-area: 1/7/6/8;
}

.purple {
    background-color: purple;
    grid-area: 2/1/3/1;
}

.black {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: 2/2/5/5;
}

.white {
    background-color: white;
    grid-area: 2/5/4/7;
}

.violet {
    background-color: violet;
    grid-area: 3/1/6/1;
}


.orange {
    background-color: orange;
    grid-area: 4/5/4/5;
}

.lemongreen {
    background-color: lawngreen;
    grid-area: 4/6/4/7;
}

.pink {
    background-color: pink;
    grid-area: 5/2/7/4;
}

.grey {
    background-color: grey;
    grid-area: 6/5/5/4;
}

.brown {
    background-color: brown;
    grid-area: 6/5/5/7;
}

.skyblue {
    background-color: skyblue;
    grid-area: 7/4/6/4;
}

.maroon {
    background-color: mediumblue;
    grid-area: 6/5/8/7;
}

.indigo {
    background-color: indigo;
    grid-area: 6/7/9/8;
}

.orangered {
    background-color: orangered;
    grid-area: 6/1/9/1;
}

.silver {
    background-color: silver;
    grid-area: 7/2/9/4;
}

.yellow {
    background-color: yellow;
    grid-area: 8/4/9/7;
}

.aqua {
    background-color: aqua;
    grid-area: 8/5/7/4;
}

